ci:
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [ '--maxkb=1000' ]
      - id: mixed-line-ending
        exclude: ^notebooks/
      - id: trailing-whitespace
        exclude: ^notebooks/
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
        exclude: ^notebooks/
      - id: requirements-txt-fixer
      - id: debug-statements
      - id: end-of-file-fixer
#  - repo: https://github.com/mgedmin/check-manifest
#    rev: "0.50"
#    hooks:
#      - id: check-manifest
#        args:
#          - --update
#          - --no-build-isolation
#        additional_dependencies:
#          - hatchling
#          - hatch-vcs

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: src

  - repo: https://github.com/roy-ht/pre-commit-jupyter
    rev: v1.2.1
    hooks:
      - id: jupyter-notebook-cleanup

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: rst-backticks
      - id: rst-directive-colons

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [ --py39-plus ]

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.7.0
    hooks:
      - id: setup-cfg-fmt
        args: [ --max-py-version=3.13, --include-version-classifiers ]

  # Notebook formatting
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:

      - id: nbqa-pyupgrade
        additional_dependencies: [ pyupgrade ]
        args: [ --py39-plus ]


  - repo: https://github.com/roy-ht/pre-commit-jupyter
    rev: v1.2.1
    hooks:
      - id: jupyter-notebook-cleanup

  - repo: https://github.com/sondrelg/pep585-upgrade
    rev: 'v1.0'
    hooks:
      - id: upgrade-type-hints
        args: [ '--futures=true' ]


  - repo: https://github.com/dannysepler/rm_unneeded_f_str
    rev: v0.2.0
    hooks:
      - id: rm-unneeded-f-str

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.30.0
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
      - id: check-dependabot
      - id: check-readthedocs

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.8.6"
    hooks:
      - id: ruff
        types_or: [ python, pyi, jupyter ]
        args: [ --fix, --unsafe-fixes, --show-fixes , --line-length=120 ]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
