graft docs
prune docs/_build
graft src
graft tests
graft notebooks

global-exclude .env*
global-exclude .git*
global-exclude .pytest_cache
global-exclude .DS_Store
global-exclude .ipynb_checkpoints
global-exclude *-checkpoint.ipynb
global-exclude *-checkpoint.py
global-exclude *.py[co]
global-exclude __pycache__

prune .ci
prune .github

include README.md pyproject.toml setup.py setup.cfg
include *.yaml
include *.yml
recursive-include LICENSES *
include CHANGELOG.rst
